﻿@model IEnumerable<Task24_Middle.Models.Comment>
@{
    ViewBag.Title = "ShowComments";
}

<h2>ShowComments</h2>

<div class="comment_input_block">
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.Label("Username: ");
        @Html.TextBox("username", String.Empty, new { @class = "username", required = "required" });
        @Html.Label("Comment: ");
        @Html.TextArea("comment_text", new { @class = "comment_text", required = "required" });
        <input class="comment_submit" type="submit" value="Submit" />
    }
</div>
<div class="comment_output_block">
    @foreach (var comment in Model)
    {
        <p>Username: @comment.User.Name</p>
        <p>Date & Time: @comment.DateTimeCommented</p>
        <p>Comment: @comment.Text</p>
        <hr />
    }
</div>