﻿@model IEnumerable<Task24_Middle.Models.Question>
@{
    ViewBag.Title = "ShowQuestions";
}

<h2>ShowQuestions</h2>

@helper CheckBoxHelper(string[] words, int num)
{
    <ol>
        @foreach (string word in words)
        {
            <li>
                <input name="mult_@num" type="checkbox" value="@word" />
                <label for="@word">@word</label>
            </li>
        }
    </ol>
}

@helper RadioHelper(string[] words, int num)
{
    <ol>
        @foreach (string word in words)
        {
            <li>
                <input name="mult_@num" type="radio" value="@word" />
                <label for="@word">@word</label>
            </li>
        }
    </ol>
}

@using (Html.BeginForm("ShowResult", "Questionnaire", FormMethod.Post, new { @class = "questions" }))
{
    <h2>Enter Your Username: @Html.TextBox("username", String.Empty, new { required="required"} )</h2>
    foreach (var question in Model)
    {
        <div class="question_@question.Id">
            <p>Question #@question.Id</p>
            @Html.DisplayFor(modelItem => question.QuestionText)
            @if (question.QuestionType.TypeName == "checkbox")
            {
                @CheckBoxHelper(question.AvailableAnswers.Split(','), question.Id)
            }
            else if (question.QuestionType.TypeName == "radio")
            {
                @RadioHelper(question.AvailableAnswers.Split(','), question.Id)
            }
            else
            {
                @Html.TextBox($"text_{question.Id}", String.Empty, new { required = "required", placeholder = "Answer Question" })
            }
        </div>
    }
    <input class="submit_answers" type="submit" value="Submit Answers" />
}