﻿@model IEnumerable<Task24_Middle.Models.Answer>
@{
    ViewBag.Title = "ShowResult";
}

<h2>Thank you for participation, @Model.First().User.Name</h2>

@foreach(var answer in Model)
 {
    <p>Question: @answer.Question.QuestionText</p>
    <p>Your Answer: @answer.AnswerText</p>
    <hr />
 }