﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/LibraryStyle.css")" rel="stylesheet" type="text/css" />
    <title>Task24_Low</title>
</head>
<body>
    <header id="top">
        <h1>Task24_Low</h1>
    </header>
    <main>
        <div class="right_sidebar">
            <ul>
                <li>@Html.ActionLink("Articles", "ShowArticles", "Article")</li>
                <li>@Html.ActionLink("Comments", "ShowComments", "Comment")</li>
                <li>@Html.ActionLink("Questionnaire", "ShowQuestions", "Questionnaire")</li>
            </ul>
        </div>
        <div class="main_body">
            @RenderBody()
        </div>
    </main>
    <footer>
        <a href="#top">To the Top</a>
        <p>Ivan Chupryna, Some Email</p>
        <p>Copyright © 2021. Task24_Low.com</p>
    </footer>
</body>
</html>
