﻿header {
    text-align: center;
    width: 100%;
    background-color: aquamarine;
}

    header > h1 {
        margin: 0;
    }

body {
    margin: 0;
}

footer {
    text-align: center;
    width: 100%;
    background-color: tomato;
}

main {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 5fr;
    grid-auto-flow: column;
    font-size: 20px;
}

.right_sidebar {
    background-color: cornflowerblue;
}

.main_body {
    background-color: lightgoldenrodyellow;
}
