﻿@model IEnumerable<Task24_Middle.Models.Article>
@{
    ViewBag.Title = "ShowArticles";
}

@foreach(var article in Model)
 {
    <h1>@article.Header</h1>
    <h2>@article.DateTimePosted</h2>
    <h3>@article.SubHeader</h3>
    <p>@article.Text</p>
 }

